@model ControleDeCarros.Models.Veiculos

@{
    ViewBag.Title = "Details";
}

<h2>Consulta de Veículo: @Html.DisplayTextFor(model => model.Nome)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            Ano de Fabricação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoFab)
        </dd>

        <dt>
            Ano Modelo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMod)
        </dd>

        <dt>
            Motorização
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            Valor Pago
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Financiado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Financiado)
        </dd>

        <dt>
            Categoria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorias.Descricao)
        </dd>

        <dt>
            Marca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marcas.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
