@model IEnumerable<ControleDeCarros.Models.Veiculos>

@{
    ViewBag.Title = "Index";
}

<h2>Veículos</h2>

<p>
    @Html.ActionLink("Novo Veículo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            Ano de Fabricação
        </th>
        <th>
            Ano Modelo
        </th>
        <th>
            Motorização
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            Valor Pago
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Financiado)
        </th>
        <th>
            Categoria
        </th>
        <th>
            Marca
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoFab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnoMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            R$@Html.DisplayFor(modelItem => item.ValorPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Financiado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorias.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marcas.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Consultar", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
