@model ControleDeCarros.Models.Marcas

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes de Marca: @Html.DisplayTextFor(model => model.Descricao)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
